.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.94);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(25, 90, 60, 0.1);
}

.navbar-container {
  max-width: 1200px;
  margin: auto;
  height: 75px;
  padding: 0 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  text-decoration: none;
  color: #14532d;

  font-size: 25px;
  font-weight: 800;
}

.logo-icon {
  font-size: 30px;
}

/* Navigation */

.nav-links {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #244238;

  font-size: 16px;
  font-weight: 600;

  transition: 0.3s;
}

.nav-links a:hover {
  color: #16834b;
}

/* Mobile button */

.menu-btn {
  display: none;

  border: none;
  background: transparent;

  font-size: 28px;
  cursor: pointer;
}

/* Responsive */

@media (max-width: 768px) {

  .nav-links {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .navbar-container {
    padding: 0 18px;
  }
}